*.o
*.a
*.so
*.dll
Makefile
config.status
config.log
pkgIndex.tcl
configure~
*.pdf
/docs/_sources
/docs/sphinx
/docs/.doctrees
/docs/*.bak
/graph.tcl
/graphtoolbar.tcl
/rbcCanvEps.pro
/rbcGraph.pro
/pointer.xbm
/pointer_mask.xbm
/autom4te.cache
/*.svg
/*.ps
/*.eps
/docs/examples/*.tcl
/dist
# Private toolbar fallback copied into the build directory.
/argparse.tcl
/argparse-LICENSE.txt
/argparse-README.txt
